body {
    overflow-x: hidden;
}

.phani div {

    padding-left: 80px;
}

.discount img {
    width: 100%;
}

.pspk :hover {
    transform: scale(1.02);
    background-color: rgb(239, 239, 246);
    color: rgb(177, 6, 137);
    text-align: center;
    
}

.pspktwo :hover {
    transform: scale(1.02);
    background-color: lightcyan;
    color: rgb(19, 18, 19);
    text-align: center;
    
    


}

.pspkthree :hover {
    transform: scale(1.02);
    background-color: rgb(255, 175, 247);
    color: rgb(16, 15, 16);
    text-align: center;

}

.pspkfour :hover {
    transform: scale(1.05);
    background-color: rgb(255, 175, 247);
    color: rgb(15, 10, 15);
    text-align: center;

}
.pspkk :hover{
    transform: scale(1.05);
    color: rgb(19, 18, 18);
    text-align: center;

}
/* .icon{
    padding-right: 150px;
} */
.icon a i{
font-size: 50px;

}
.icon two  {
    color: crimson;
}
.about ul li{
    list-style: none;
    color: aliceblue;
    font-size: 20px;
}
.about ul h2{
    color:black;
}
.product p{
    font-size: 20px;
    color: aliceblue;
}
.useful p{
    font-size: 20px;
    color: aliceblue;

}
.help p{
    font-size: 20px;
    color: aliceblue;



}
.contract p{
    font-size: 20px;
    color: aliceblue;
}
.copy p{
    font-size: 20px;
}
